In [1]:
import numpy as np

In [3]:
## 矩阵声明
array = np.array([[1,2,3],[2,3,4]])
array

array([[1, 2, 3],
       [2, 3, 4]])

In [4]:
# 矩阵的维度
array.ndim

2

In [5]:
# 矩阵的形状 行数，列数
array.shape

(2, 3)

In [6]:
# 元素的个数
array.size

6

In [8]:
a = np.array([2,33,4])
a

array([ 2, 33,  4])

In [10]:
## 创建全零数组
zero_array = np.zeros((3,4))
print(zero_array)

[[ 0.  0.  0.  0.]
 [ 0.  0.  0.  0.]
 [ 0.  0.  0.  0.]]

In [11]:
## 创建全一数组
ones_array = np.ones((3,4))
ones_array

array([[ 1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.]])

In [14]:
## 创建全空数组
empty_array = np.empty((3,4))
empty_array

array([[ 1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.]])

In [16]:
## 创建连续数组
arange_array = np.arange(10,20,2)  ## 10 - 19的数据 ,step = 2 
arange_array

array([10, 12, 14, 16, 18])

In [18]:
#改变矩阵形状
array = np.arange(12).reshape((3,4))
array

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [20]:
## 创建线段性数据
linspace_array = np.linspace(1,10,20) # start: 1 end : 10 
linspace_array

array([  1.        ,   1.47368421,   1.94736842,   2.42105263,
         2.89473684,   3.36842105,   3.84210526,   4.31578947,
         4.78947368,   5.26315789,   5.73684211,   6.21052632,
         6.68421053,   7.15789474,   7.63157895,   8.10526316,
         8.57894737,   9.05263158,   9.52631579,  10.        ])

In [21]:
import pandas as pd

In [24]:
s = pd.Series([1,3,6,np.nan,44,1])
s

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [25]:
dates = pd.date_range('20160101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=['a','b','c','d'])
df

                   a         b         c         d
2016-01-01  0.402357  2.272551  0.445239  0.992524
2016-01-02  0.010850  0.122980  0.314799 -0.309951
2016-01-03  1.287126 -0.117565 -0.035272  1.206010
2016-01-04  0.291849 -0.372802  2.816691  0.071124
2016-01-05 -1.982541 -2.077449 -1.020912 -1.652283
2016-01-06 -0.019330 -0.137971 -0.776294 -0.908246

In [26]:
df["b"]

2016-01-01    2.272551
2016-01-02    0.122980
2016-01-03   -0.117565
2016-01-04   -0.372802
2016-01-05   -2.077449
2016-01-06   -0.137971
Freq: D, Name: b, dtype: float64